@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url('https://fonts.googleapis.com/css?family=Anton');
body {
    font-family: 'Nanum Gothic', sans-serif;
    background: silver;
}

#wrapper {
	margin: 40px 0;
	padding: 50px 0;
	text-align: center;
  letter-spacing: 1px;
}

.logo{
  font-family: 'Anton', sans-serif;
  font-weight: 500;
  font-size: 50px;
}

.topMenu{
  font-family: 'Raleway', Arial, sans-serif;
  height: 30px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
}
.topMenu *{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.topMenu li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1.2em;
  padding: 0;
}
.topMenu a {
  padding: 0 0.6em;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  text-decoration: none;
}
.topMenu a:hover,
.topMenu .current a {
  color: white;
  background-color: black;
}

footer{
  position:absolute;
  bottom:0;
  width:100%;
}
